{%extends "base.html"%}
{%block corpo%}
{%if nota_usuario is None %}
    <form action="" method="POST" enctype="multipart/form-data">
        {{form.csrf_token}}
        <p style="text-align: center;">{{ form.nota.label }}</p>
        <p style="position: relative; left: 43.5%;">{{ form.nota() }}</p>
        <p style="position: relative; left: 47%;">{{ form.submit }}</p>
    </form>
   
{%else%}
    <form action="" method="POST" enctype="multipart/form-data">
        {{form.csrf_token}}
        <p style="text-align: center;">{{ form.comentario.label }}</p>
        <p style="position: relative; left: 43.5%;">{{ form.comentario() }}</p>
        <p style="position: relative; left: 47%;">{{ form.submit }}</p>
    </form>
{%endif%}
{%endblock%}